ashlar_db_host: "{{ database_host }}"
ashlar_db_port: "{{ postgresql_port }}"
ashlar_db_user: "{{ postgresql_username }}"
ashlar_db_password: "{{ postgresql_password }}"
ashlar_database: "{{ postgresql_database }}"
ashlar_static_dir: "{{ root_static_dir }}"
